<div class="card " style="margin: 5px;">
    <div class="text-center title" >Login</div>
    <form class="card-center">
        <div class="card-body text-center ">
            <div class="form-group">
                <label for="nameId"></label>
                <input type="text" class="form-control" id="nameId"
                    [(ngModel)] = "model.name" name="name" placeholder="Email">
            </div>
    
            <div class="form-group">
                <label for="passwordId"></label>
                <input type="password" class="form-control" id="passwordId"
                [(ngModel)]="model.password" name="password" placeholder="Password" required="true">
                <div class="invalid-feedback">
                    Please provide password.
                  </div>
            </div>
    
            <button type="submit" class="btn btn-primary margin-button"
               >Submit</button>
        </div>
    </form>
</div>