<ul class="nav nav-background">
  <li class="nav-item">
    <a routerLink="/home" class="nav-link" style="font-size: 28px;">Calculator</a>
  </li>
  <li class="nav-item">
    <a routerLink="/basic" class="nav-link" >Basic Operations</a>
  </li>
  <li class="nav-item">
    <a routerLink="/advanced" class="nav-link" >Advanced Operations</a>
  </li>
  <span class="example-spacer"></span>
  <li class="nav-item">
    <a routerLink="/login" class="nav-link" ><mat-icon>login</mat-icon></a>
  </li>
  <li class="nav-item">
    <a routerLink="/signup" class="nav-link" ><mat-icon>assignment_ind</mat-icon></a>
  </li>
</ul>

<router-outlet></router-outlet>