<mat-toolbar>
  <mat-toolbar-row class="nav-background">
    <span routerLink="/home" class="text-color" style="font-family: 'Franklin Gothic Medium'; font-size: 25px;">Calculator</span>
    <span routerLink="/basic" class="text-color" style="font-family: 'Franklin Gothic Medium'; font-size: 15px;">Basic Operations</span>
    <span routerLink="/advanced" class="text-color" style="font-family: 'Franklin Gothic Medium'; font-size: 15px;">Advanced Operations</span>
    <span class="example-spacer"></span>
    <mat-icon routerLink="/login" class="example-icon text-color">login</mat-icon>
    <mat-icon routerLink="/signup" class="example-icon text-color">assignment_ind</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>